.dataBlock table {
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px;
}

.dataBlock td, .dataBlock th {
    border: 1px solid #000000;
    padding: 7px 10px 5px 10px;
    text-align: center;
}

.dataBlock th {
    font-size: 1.2em;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #7a7a7a;
    color: #fff;
}

.dataBlock tr:nth-child(2n+1) {
    color: #000;
    background-color: #DEDEDE;
}