.error {
    border: 1px solid red;
    background-color: #ffc5c5;
}

.errorBlock, .successBlock {
    padding: 8px;
    margin: 5px;
    min-width: 400px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
}

.errorBlock {
    color: #000;
    background-color: #ffc5c5;
    border: 3px solid #ff3135;
}

.successBlock {
    color: #000;
    background-color: #d6ffd4;
    border: 3px solid #3fff44;
}